<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Domotics - WebSockets</title>
    <script src="./socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./assets/css/domotica.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body <% if(user.local.role=="ROLE_ADMIN"){ %> onload="showSection('Admin')" <% } else{ %> onload="showSection('Luces')" <% } %> >
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Tu casa</a>
                </div>
                <ul class="nav navbar-nav" id="menu">
                        <% if(user.local.role=="ROLE_ADMIN") { %>
                    <li>
                        <a href="#">Admin</a>
                    </li>
                    <% } %>
                    <li>
                        <a href="#">Luces</a>
                    </li>
                    <li>
                        <a href="#">LiveStream</a>
                    </li>
                    <li>
                        <a href="#">Registro</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span> Perfil</a>
                    </li>
                    <li>
                        <a href="/logout">
                            <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="page-header text-center">
            <h1>
                <span class="fa fa-home"></span> Dashboard</h1>
        </div>

        <p id="prueba"></p>
        <!-- el if true es pq la comprobación del admin no estaba disponible -->
        <% if(user.local.role == "ROLE_ADMIN") { %>
            <div class="row section" id="Admin" style="display:inline">
                <div class="row">
                    <h1>Usuario</h1>
                    <form action="/signup" method="GET">
                        <button type="submit" id="add" class="pull-right ">
                            <span class="fa fa-plus-circle"></span>
                        </button>
                    </form>
                </div>
                <div clas="row ">
                    <div clas="well col-md-6">
                        <table class="table table-striped" style="width:70%">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user) => { %>
                                    <tr>
                                        <td>
                                            <%= user.local.email %>
                                        </td>
                                        <td>
                                            <%= user.local.role %>
                                        </td>
                                        <td>
                                            <form action="/delete" method="POST">
                                                <input class="hidden" value="<%= user._id %>">
                                                <button type="submit" id="delete">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>

                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <% } %>
           
                <div class="row section" id="Luces" >
                    <div class="portrait">
                        <img src="/assets/images/classroom.jpg" class="image">
                        <button id="0" type="button" class="btn btn-primary lightBtn" data-toggle="button" aria-pressed="false" autocomplete="off">Luz</button>
                        <button id="1" type="button" class="btn btn-primary lightBtn" data-toggle="button" aria-pressed="false" autocomplete="off">Proyector</button>
                        <button id="2" type="button" class="btn btn-primary lightBtn" data-toggle="button" aria-pressed="false" autocomplete="off">Pantalla</button>
                    </div>
                    <p>sección luces</p>
                </div>
                <div class="row section" id="LiveStream">
                    <p>sección livestream</p>
                </div>
                <div class="row section" id="Registro">
                    <div class="col-md-offset-2 col-md-8 well" id="logRoom">
                        </div>
                </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="./assets/scripts/script.js"></script>
    <script>

        $("#menu a").click(function () {
            showSection(this.innerHTML);
        });
        function showSection(valor) {
            var clases = document.getElementsByClassName("section");
            for (var i = 0; i < clases.length; i++) {
                if (clases[i].id != valor) {
                    document.getElementById(clases[i].id).style.display = "none";
                } else {
                    document.getElementById(clases[i].id).style.display = "inline";
                }
            }
        }
    </script>

</body>

</html>