#preview {
    display: none;
}

[id='0']{
    position: absolute;
   top: 30%;
   left: 40%;
   width: 60px;
}
[id='1']{
    position: absolute;
   top: 30%;
   left: 45%;
   width: 100px;
}
[id='2']{
    position: absolute;
   top: 30%;
   left: 53%;
   width: 100px;
}
.image{
position: absolute;
top: 25%;
left: 25%;
width: 500px;
}